//main navigation
.c-nav__main {
  .top-bar-section ul li > a {
line-height: rem-calc(73) !important;
}
  .top-bar-section ul li > a.active {
        background-color: $red;
        color: $white;
}
  .lang {
    a {
      display: inline-block;
      color: $gray;
      text-transform: uppercase;
      font-size:rem-calc(13);
       &:after {
        content: "/";
        text-align: center;
        display: inline-block;
        width: 20px;
        height: 20px;
        color: $gray;
      }
      &:nth-child(3) {
          &:after {
        content: "";
      }
      }
    }
    a.active {
      color: $red;
    }
  }
}

//set media 
@media only screen and (max-width: 20.000em) {
  .w-home .contain-to-grid {
    overflow: visible !important;
    .top-bar {
      top: 0 !important;
      z-index: 1;
    }
    .lang {
      top: 0 !important;
      z-index: 2;
    }
    .logo {
      padding-left: 2% !important;
      text-align: left !important;
      top: 34px !important;
      width: auto !important;
      z-index: 3;
    }
  }
}
@media #{$small-only} {
  .w-home .contain-to-grid {
    .logo {
      margin: 0 auto;
      text-align: center;
      width: 50%;
      position: relative;
      top: 15px;
      z-index: 3;
    }
    .top-bar {
      position: relative;
      top: -27px;
      z-index: 1;
      float: right;
      width: 100%;
      .top-bar-section {
        background-color: $gray;
      }
    }
    .lang {
      float: left;
      left: 10px;
      position: absolute;
      top: 27px;
      z-index: 2;
    }
  }
  .c-nav__main  .top-bar.expanded .top-bar-section ul li > a {
    line-height: normal !important;
    padding-right: 38px;
    text-align: right;
  }
}
@media only screen and (min-width: 39.999em) and (max-width: 50.125em) {
  .w-home .contain-to-grid {
    padding: 0 10px;
    .top-bar-section ul li > a {
      padding: 0 6px !important;
    }
  }
}
@media #{$medium-only} {
  .w-home .contain-to-grid {
    .c-nav__main {
      text-align: right;
    }
    .logo {
      float: left;
      margin:-5px 4% 10px 0;
      width: 15%;
    }
    .top-bar {
      z-index: 2;
    }
    .lang {
      position: relative;
      top: -24px;
      z-index: 1;
      float: right;
    }
  }
}

@media #{$large-up} {
  .c-nav__main {
    text-align: right;
    .lang {
      position: relative;
      top: -25px;
      float: right;
    }
  }
  .top-bar-section ul li > a {
    letter-spacing: 0.5px;
    line-height: rem-calc(73) !important;
  }
  .logo {
    float: left;
    margin:-5px 45px 10px 0;
  }
}

//buttons
a.read-more {
  @include button;
  @include radius;
  background-color: $white;
  border: solid 1px $red;
  color: $red;


  &:hover {
    background-color: $red;
    color: $white;
  }
}

.w-scrollup {
  display: block;
  text-align: center;
  margin-top: 60px;
  float: left;
  width: 100%;
a.scrollup {
  display: inline-block;
  color: $black;
  font-weight: lighter;
  text-transform: uppercase;
  .fa {
    display: block;
    text-align: center;
    color: $red;
    margin-bottom: 7px;
  }
}
}